@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --primary-color: #b3c890;
  --secondary-color: #dbdfaa;
  --background-color: #f5f0bb;
  --contrast-color: rgb(141, 115, 115);
}

*,
body {
  font-family: "Lilita One", cursive;
  color: var(--contrast-color);
  margin: 0px;
}

html {
  background-color: var(--secondary-color);
}
